// Includes
@use "_reset";

// Mixins

// Vars
$lineheight: 1;
$bold: 700;
$text-color: #f1f1f1;
$cherry: #cf0234;
// ==============
// =	SASS	=
// ==============

@import url("https://fonts.cdnfonts.com/css/lexend");

* {
	font-family: "Lexend", sans-serif;
}

body {
	display: grid;
	place-content: center;
	background: url(/public/assets/images/alt2.png), #1f1f1f4a;
	height: 100%;
	width: 100vw;
	color: $text-color;
}

section {
	backdrop-filter: blur(10px);
	border-radius: 7px;
	border: 50px rgb(18, 6, 22) solid;
	padding: 30px;
	background: rgba(68, 32, 119, 0.42);
	width: 710px;
	height: 790px;
	// Grid
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.3fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	justify-items: stretch;
	align-items: stretch;

	color: $text-color;

	text-align: center;
	footer {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		font-size: 1.3rem;

		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 3;
		a {
			text-decoration: none;
			font-weight: $bold;
			&:hover {
				color: $cherry;
			}
		}
		p {
			line-height: 2rem;
		}
		.icon-net {
			display: inline-block;
			width: 1.5rem;
		}
	}
}

article.header {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	h1 {
		font-weight: $bold;
		text-align: center;
		// text-decoration: underline;
		font-size: 2.5rem;
		line-height: 1.5;
	}

	p {
		color: $text-color;
	}
}

article.form__overworld {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
article.form__nether {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

article.form__overworld,
article.form__nether {
	margin-top: 80px;
}

form#nether,
form#overworld {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	div.textlabel {
		margin: 15px auto;
		font-weight: $bold;
		display: flex;
		align-items: center;
		gap: 10px;
		input {
			font-weight: 700;
			height: 50px;
			background: #000;
			border-radius: 7px;
			text-align: center;
			&:focus {
				background: #fff;
				color: #000;
			}
		}

		h2 {
			font-weight: $bold;
			font-size: 1.5rem;
			line-height: 2;
		}

		// button {
		// 	margin: 15px auto;
		// 	height: 50px;
		// 	width: 140px;
		// 	font-weight: $bold;
		// 	color: $text-color;
		// 	border-radius: 5px;
		// 	cursor: pointer;
		// 	&.submit_nether {
		// 		background: linear-gradient(314deg, #ff0094 10% 10%, #ffec00 100%);
		// 		&:hover {
		// 			background: linear-gradient(
		// 				314deg,
		// 				#ffec00 10% 10%,
		// 				#ff0094 100%
		// 			);
		// 		}
		// 	}
		// 	&.submit_overworld {
		// 		background: linear-gradient(to bottom left, #009a00 0%, #0ff 100%);
		// 		&:hover {
		// 			background: linear-gradien(
		// 				to bottom right,
		// 				#0ff 0%,
		// 				#009a00 100%
		// 			);
		// 		}
		// 	}
		// }
	}
}
